.iplugin-debug {
    position: fixed;
    top: 10px;
    left: 10px;
    margin: 0px;
    padding: 7px;
    border-radius: 5px;
    border: 1px solid #d9d9d9;
    font-family: Verdana;
    font-size: 12px;
    text-align: left;
    z-index: 10000;
    background-color: #f2f2f2;
}

.iplugin-debug--logo {
    color: #39f;
    font-weight: bold;
    font-size: 14px;
}

.iplugin-debug--header {
    margin-bottom: 2px;
    color: #b3b3b3;
}

.iplugin-debug--caption {
    margin-bottom: 7px;
    color: #39f;
    font-size: 12px;
}

.iplugin-debug--button {
    display: block;
    background-color: #09f;
    text-align: center;
    padding: 5px 0px 5px 0px;
    margin-top: 10px;
    color: #fff !important;
    border-radius: 4px;
    text-decoration: none;
    transition: .2s background-color;
}

.iplugin-debug--button:hover {
    background-color: #4db8ff;
}